@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-title {
    text-align: center;
    padding-top: 50px;
}

#card img{
    border-radius: 5px;
    width: 60%;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 200px;
}


#card p {
    width: 300px;
}

#title {
    font-size: 20px;
    margin-bottom: 10px;
}

#desc {
    font-size: 16px;
    margin-top: 10px;
}

span {
    color: rgb(228, 170, 94);
    font-weight: bold;
}

#button-one a {
    text-decoration: none;
    padding: 30px 20px;
}